@using BlazorBlog.Shared.Models;
@using BlazorBlog.Presentation.Services
@inject IBlogService BlogService

@if (Posts == null)
{
    <span>Getting the blog postS...</span>
}
else
{
    <h3>BlogPost</h3>
    @foreach (var post in Posts)
    {
        <div>
            @post.Title
        </div>
        <div>
            @post.Description
        </div>
        <div><a href="/posts/@post.Url"> Read more ...</a></div>
    }
}



@code {
    private List<BlogPost> Posts;

    protected override async Task OnInitializedAsync()
    {
        Posts = await BlogService.GetBlogPostsAsync();
    }

}